<% provide(:title, @event.name) %>
<div class="center hero-unit">
  <h3><%= @event.name %></h3>

  <div class="container-fluid" style = "margin-top:40px; margin-bottom: 20px; text-align: left;">

  	<% labels = ["City", "Event Type", "Event Field", "Hosted By", "Description",
  		"Cost", "Ticket URL", "Ticket Info", "Organization Description", "Contact Info", 
  		"Contact Phone", "Venue", "Venue Address", "Venue Directions"] %>
  	<% contents = [@event.city, @event.event_type, @event.field, @event.host, @event.description,
  		@event.cost, @event.ticket_url, @event.ticket_info, @event.organization_description,
  		@event.contact, @event.contact_phone, @event.venue, @event.venue_addr, @event.venue_directions] %>

  	<% for i in 0..labels.length %>
  		<% if i % 2 == 0 %>
  			<div class = "row-fluid" style="background-color: #ddd; margin-bottom:0px; padding-top:6px">
  		<% else %>
  			<div class = "row-fluid" style="background-color: #eee; margin-bottom:0px; padding-top:6px">
  		<% end %>
  			<div class = "span2">
  				<b><%= labels[i] %></b>
  			</div>
  			<div class = "span10">
  				<%= contents[i] %>
  			</div>
  		</div>
  	<% end %>


  	

  </div>
</div>